.loader {
  color: gray;
  background: whitesmoke;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 6vh;
  opacity: 0.8;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9999;
}

.loader span {
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader span:nth-child(odd) {
  animation-delay: 0.4s;
}
@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
